<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" packages="fun.dodo.common.log">
    <Properties>
        <Property name="LOG_HOME">../log</Property>
        <property name="FILE_NAME">app</property>
    </Properties>

    <!--先定义所有的appender-->
    <Appenders>
        <!--这个输出控制台的配置-->
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--&lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）&ndash;&gt;-->
            <!--<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--&lt;!&ndash;这个都知道是输出日志的格式&ndash;&gt;-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
        <!--</Console>-->

        <!--&lt;!&ndash;文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用&ndash;&gt;-->
        <!--<File name="TestLog" append="false"-->
              <!--fileName="${LOG_HOME}/test.log">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
        <!--</File>-->

        <!--&lt;!&ndash;单独记录错误情况&ndash;&gt;-->
        <!--<File name="ErrorLog"-->
              <!--fileName="${LOG_HOME}/err.log">-->
            <!--<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
        <!--</File>-->

        <!--&lt;!&ndash;这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档&ndash;&gt;-->
        <!--<RollingFile name="RollingFile"-->
                     <!--fileName="${LOG_HOME}/${FILE_NAME}.log"-->
                     <!--filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
            <!--<SizeBasedTriggeringPolicy size="20MB"/>-->
        <!--</RollingFile>-->

        <!--<Async name="AsyncLog">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="TestLog"/>-->
            <!--<AppenderRef ref="ErrorLog"/>-->
            <!--<AppenderRef ref="RollingFile"/>-->
        <!--</Async>-->

        <!--阿里云日志采集-->
        <Loghub name="aliyun-log"
                project="dodofun-app"
                logStore="dodofun-user"
                endpoint="dodofun-app.cn-beijing.log.aliyuncs.com"
                accessKeyId="LTAIINPbsJTAgImW"
                accessKeySecret="QNXYl35EhHtMGSsHvbUxRdFnC7GNet"
                topic="DODO APP API"
                source=""
                timeFormat="yyyy-MM-dd HH:mm:ss"
                timeZone="Asia/Shanghai"
                totalSizeInBytes="104857600"
                maxBlockMs="60000"
                ioThreadCount="8"
                batchSizeThresholdInBytes="524288"
                batchCountThreshold="4096"
                lingerMs="2000"
                retries="10"
                baseRetryBackoffMs="100"
                maxRetryBackoffMs="100"
                ignoreExceptions="true">
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx"/>-->
            <!--<Filters>-->
                <!--&lt;!&ndash; Now deny warn, error and fatal messages &ndash;&gt;-->
                <!--<ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>-->

                <!--&lt;!&ndash; This filter accepts info, warn, error, fatal and denies debug/trace &ndash;&gt;-->
                <!--<ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--</Filters>-->
        </Loghub>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>


    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>

        <!--建立一个默认的root的logger-->
        <Root level="INFO">
            <!--<AppenderRef ref="AsyncLog"/>-->
            <AppenderRef ref="aliyun-log"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="io.lettuce" level="ERROR"/>
        <Logger name="com.zaxxer" level="ERROR"/>
        <Logger name="io.vertx" level="ERROR"/>

        <!--建立一个特定程序包的logger, 指定 additivity="false" 可以避免输出2次-->
        <!--<Logger name="fun.dodo" level="INFO" additivity="false">-->
            <!--<AppenderRef ref="AsyncLog"/>-->
        <!--</Logger>-->

        <!--<Logger name="io.netty" level="ERROR" additivity="false">-->
            <!--<AppenderRef ref="AsyncLog"/>-->
        <!--</Logger>-->

        <!--<Logger name="sun.nio" level="ERROR" additivity="false">-->
            <!--<AppenderRef ref="AsyncLog"/>-->
        <!--</Logger>-->

        <!--<Logger name="java.io" level="ERROR" additivity="false">-->
            <!--<AppenderRef ref="AsyncLog"/>-->
        <!--</Logger>-->

        <!--<Logger name="io.vertx" level="ERROR" additivity="false">-->
            <!--<AppenderRef ref="AsyncLog"/>-->
        <!--</Logger>-->

    </Loggers>
</Configuration>